#input {
#{% for file in log_files %}
#  file {
#    {% if file is mapping %}
#      {% for key,val in file.items() %}
#      {{ key }} => {{ val }}
#      {% endfor %}
#    {% else %}
#      path => "{{ file }}"
#    {% endif %}
#  }
#{% endfor %}
#}

input {
  file {
    path => "/var/log/*"
  }
}

#{% if log_filters is defined and log_filters|length > 0 %}
#  {% if custom_log_filters is defined and custom_log_filters|length > 0 %}
#    {% set log_filters = log_filters + custom_log_filters %}
#  {% endif %}
#filter {
#  {% for filter in log_filters %}
#  if {{ filter.type }} in [tags] {
#    {{ filter.name }} {
#      {% for key,val in filter.configuration.items() %}
#      {{ key }} => {{ val }}
#      {% endfor %}
#    }
#  }
#  {% endfor %}
#}
#{% endif %}

output {
  monasca_log_api {
    monasca_log_api => "{{ monasca_log_api_url }}"
    keystone_api => "{{ keystone_url }}"
    project_name => "{{ project_name }}"
    username => "{{ username }}"
    password => "{{ password }}"
    domain_id => "{{ domain_id }}"
    dimensions => "hostname: {{ ansible_hostname }}"
  }
}
